/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
    :root {
        --color-primary: 141 206 190;
        --color-secondary: 111 114 185;
    }
}


.triangle2 {
    position: absolute;
    top: -32px;
    left: -1px;
    right: 0;
    margin: auto;
    text-align: left;
}
.triangle2:before,
.triangle2:after {
    content: '';
    position: absolute;
    background-color: inherit;
}
.triangle2,
.triangle2:before,
.triangle2:after {
    width:  23px;
    height: 23px;
    border-top-right-radius: 70%;
}

.triangle2 {
    transform: rotate(-120deg) skewX(-30deg) scale(1,.866) translate(0,-20%);
}
.triangle2:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle2:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

.triangle {
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(141 206 190);
    text-align: left;
}
.triangle:before,
.triangle:after {
    content: '';
    position: absolute;
    background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
    width:  14px;
    height: 14px;
    border-top-right-radius: 70%;
}

.triangle {
    transform: rotate(-120deg) skewX(-30deg) scale(1,.866) translate(0,-20%);
}
.triangle:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}


@font-face {font-family: "Cinnabar";
    src: url("48aa32ae983172032a6210dcf9a01d49.eot"); /* IE9*/
    src: url("48aa32ae983172032a6210dcf9a01d49.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("48aa32ae983172032a6210dcf9a01d49.woff2") format("woff2"), /* chrome、firefox */
    url("48aa32ae983172032a6210dcf9a01d49.woff") format("woff"), /* chrome、firefox */
    url("48aa32ae983172032a6210dcf9a01d49.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("48aa32ae983172032a6210dcf9a01d49.svg#DK Cinnabar Brush") format("svg"); /* iOS 4.1- */
}

